@import "./parciales/_variables.scss";
@import "./parciales/_general.scss";
@import "./parciales/_header.scss";
@import "./parciales/_footer.scss";
@import "./parciales/_inicio.scss";
@import "./parciales/_modelo.scss";
@import "./parciales/_galeria.scss";
@import "./parciales/_tienda.scss";
@import "./parciales/_contacto.scss";
@import "./parciales/_faq.scss";
@import "./parciales/_mediaquerys.scss";
@import "./parciales/_carrito-desplegable";

.mostrar{
    display: block;
}

.carrito-vacio{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
}

.noShow{
    display: none;
}