@use 'variables' as v;

.carrito-desplegable{
    display: none;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 220px;
    right: 100px;
    background-color: rgb(92, 92, 92);
    border: 1px solid black;
    width: 60%;
    &__tituloDelete-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
    }
    &__Titulo{
        display: contents;
        font-weight: 700;
        border-bottom: 1px solid grey;
        color: white;
        text-shadow: 1px 1px 10px black;

        font-size: 20px;
        text-align: center;
    }
    &__delete{
        width: 20px;
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
        &:active{
            position: relative;
            top: 5px;
        }
    }
    &__botonComprar-container{
        padding: 24px;
    }
    &__detalles-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        background-color: rgb(92, 92, 92);
        width: 80%;
        height: 100%;
        margin-top: 50px;
    }
    &__imagen{
        width: 20%;
        border-radius: 4px;
        height: auto;
    }
    &__producto{
        font-weight: 500;
        color: black;
        text-shadow: 1px 1px 10px white;
    }
    &__precio{
        font-weight: 700;
        color: black;
        text-shadow: 1px 1px 10px white;
    }
    &__borrar{
        cursor: pointer;
    }
    &__comprar{
        width: 100%;
        height: 35px;
        border-radius: 8px;
        border: none;
        font-size: 0.9em;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
            opacity: 0.5; //se vuelva mas claro cuando pase el click por encima
        }
        &:active{
            position: relative;
            top: 5px;
        }
        }
}