.TituloContactate{
    @extend .tipografia; /* esta en general.scss */
    text-shadow: 5px 5px 15px black;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}

.contacto{
    margin-bottom: 5%;
    margin-top: 5%;
}
.contacto__google{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contacto__formulario{
    @extend .tipografia; /* esta en general.scss */
    text-shadow: 5px 5px 15px black;
    font-size: clamp(15px, 3.5vw, 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}