.faq{
    margin-top: 2%;
}
.FAQtexto2{
    @extend .tipografia; /* esta en general.scss */
    font-size: 15px;
    text-shadow: 2px 2px 5px black;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}