
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}
a {
    text-decoration: none;
    color: white
}
a:hover {
    color: white;
  }
  .background{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding-bottom: 20px;
}
.tipografia{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-style: italic;
}