
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
}
a {
    text-decoration: none;
    color: $colorTexto;
}
a:hover {
    color: black;
  }
  .background{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding-bottom: 20px;
}