.header{

    @extend .tipografia;
    font-size: 110%;
    text-decoration: none;
    color: $colorTexto;
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 1rem;
}
.nav-padding{
    padding: 1rem;
}
.nav__Color{
    text-decoration: none;
    color: $colorTexto;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler {
    border: 2px solid black;
}
.button{
    text-decoration: none;
    color: $colorTexto;
    padding: 4px 4px;
    border: 2px solid cornflowerblue;
    position: relative;
}
.button::before,
.button::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: inherit;
    transition: all .3s;
    color: white;

}
.button::before{
    top: -7px;
    left: -7px;
    border-width: 2px 0 0 2px;
    text-decoration: none;
    color: white;
}
.button::after{
    bottom: -8px;
    right: -8px;
    border-width: 0 2px 2px 0;
    text-decoration: none;

}
.button:hover::before,
.button:hover::after{
    width: calc(100% + 14px);
    height: calc(100% + 14px);

}
.logo{
    width: 120px;
}