.carousel__index{
    width: 100%;
}
.carousel-item img{
    object-fit: cover;
    height: 520px;
}
.container-fluid{
    padding-left:0px;
    padding-right: 0px;
}
.rowcorregido{
    --bs-gutter-x: 0rem;
}
.Background__amarok{
   width: 100%;
}
.tipografia-Quienessomos{
    @extend .tipografia; /* esta en general.css */
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding: 16px;
    text-shadow: 1px 1px 10px black;
    
}
.modelo__parrafo{
    @extend .tipografia;
    font-size: 22px;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 16px;
    text-shadow: 2px 2px 4px black;
}

.quienesSomos__descripcion{
    @extend .tipografia; /* esta en general.css */
    font-size: 22px;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 16px;
    text-shadow: 2px 2px 4px black;
}

.imagen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.imagen-container{
    position: relative;
    width: 50%;
}
.imagen-container img{
    width: 100%;
    height: 100%;
}
.transition-image{
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.transition-image:hover{
    opacity: 1;
}
.grid__extras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 100%;
    margin-left: 2%;
    margin-right:2%;
}

.imagen__interior{
    width:300px;
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos , box-shadow );

}

.imagen__exterior{
    width:300px;
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos , box-shadow );
}

.formulario{
    border: solid;
    border-color:beige;
    border-radius: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px
}
.formulario__titulo{
    @extend .tipografia;
    text-shadow: 1px 1px 10px black;
    font-size: 35px;
}
.formulario__datos{
    @extend .tipografia;
    text-align: center;
    
    text-shadow: 1px 1px 10px black;
    margin-bottom: 5%;
    margin-top: 5%;
}
.formulario__button{
    margin-bottom: 20px;
}
