@media screen and (max-width:1199px) {
    .formulario{
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 400px;
        justify-items: center;
        align-items: center;

    }
    .formulario__titulo{
        width:80%
    }
}

@media screen and (max-width:1023px) {

    .formulario{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 400px;
        justify-items: center;
        align-items: center;

    }
    .footer{
        padding-top: 15px;
        border-top:double #003;
        padding-bottom: 15px;

        display: grid;
        grid-template-columns: repeat(4 1fr);
    }
}

@media screen and (max-width:599px) {
    .logo{
        width: 100px;
    }

    .imagen__interior{
        width:250px;
        border-radius: map-get($estilos,border-radius);
        box-shadow: 1px 1px 10px black;
    }
    .imagen__exterior{
        width:250px;
        border-radius: map-get($estilos,border-radius);
        box-shadow: 1px 1px 10px black;
        
    }
    .footer{
        border-top:double #003;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        text-align: center;
        padding: 15px;
    }
}


@media screen and (max-width:479px) {
    .logo{
        width: 80px;
    }

    .imagen{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .imagen__interior{
        width:300px;
        border-radius: map-get($estilos,border-radius);
        box-shadow: 1px 1px 10px black;
        margin-bottom: 25px;
    }
    .imagen__exterior{
        width:300px;
        border-radius: map-get($estilos,border-radius);
        box-shadow: 1px 1px 10px black;
    }
    .header{
        font-size: 130%;
        text-shadow: 2px 2px 10px black;
        border-bottom:double #003; ;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    .nav__lista{
        display: flex;
        justify-content: center;
    }
    .nav__item{
        margin: auto;
    }
    .formulario__titulo{
        text-align: center;
    }
}
@media screen and (max-width:425px){

    .formulario__datos{
       text-align: justify;
       font-size: 20px
    }
}
@media screen and (max-width:415px){

    .quienesSomos{
        font-size: 25px;
    }
    .quienesSomos__descripcion{
        font-size: 15px;
    }
    .imagen__interior{
        width: 200px;
    }
    .imagen__exterior{
        width:200px;
    }
    .formulario__datos{
        text-align: center;
        font-size: 15px
     }
     .formulario__titulo{
        font-size: 35px;
     }

     .footer{

        border-top:double #003;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'menu contacto'
        'ubicacion siguenos';
        align-items: center;
        padding: 15px;
    }
    .fooMenu{
        grid-area:menu;
    }
    .fooUbicacion{
        grid-area:ubicacion;
    }
    .fooContacto{
        grid-area:contacto;
    }
    .fooSiguenos{
        grid-area:siguenos;
    }
}

@media screen and (max-width:360px){

    .formulario__datos{
       text-align: justify;
       font-size: 15px
    }
    .quienesSomos{
        font-size: 35px;
    }
    .footer{
        border-top:double #003;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'menu contacto'
        'ubicacion siguenos';
        align-items: center;
        padding: 15px;
    }
    .fooMenu{
        grid-area:menu;
    }
    .fooUbicacion{
        grid-area:ubicacion;
    }
    .fooContacto{
        grid-area:contacto;
    }
    .fooSiguenos{
        grid-area:siguenos;
    }
}
@media screen and (max-width:325px){

    .quienesSomos{
        font-size: 25px;
    }
    .quienesSomos__descripcion{
        font-size: 15px;
    }
    .imagen__interior{
        width: 200px;
    }
    .imagen__exterior{
        width:200px;
    }
    .formulario__datos{
        text-align: center;
        font-size: 12px
     }
     .formulario__titulo{
        font-size: 30px;
     }
}     
@media screen and (max-width:290px){


/* fin de index */ 
/* comienzo de modelo */
@media screen and (max-width: 1024px){
    .imagen2interior{
        width: 400px;
        height: 350px;
        margin-top: 250px;
    }
}
@media screen and (max-width: 768px){
    .imagen1interior{
        margin-left: 50px;
        margin-top: 100px;
    }
    .imagen2interior{
        width: 400px;
        height: 350px;
        margin-left: 20px;
    }
    .imagen2interior__texto{
        margin-left: 60px;
        text-align: left;
    }
    .imagenesinterior{
        margin-right: 50px;
    }
    .linkGaleria{
        margin-left: 300px;
    }
    .imagen2exterior{
        width: 320px;
        height: 500px;
        margin-right: 100px;
        margin-top: 200px;
    }
    .imagenesExterior__texto{
        text-align: left;
    }
}
@media screen and (max-width: 425px){
    .header__modelo{
        width: 640px;
    }
    .titulos{
        width: 640px;
    }
    .divimagen{
        width: 640px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .imagen1interior{
        width: 250px;
        height: 300px;
    }
    .imagen2interior{
        margin-top: 800px;
    }
    .imagenesinterior{
        width: 550px;
    }
    .linkGaleria{
        margin-left: 240px;
    }
    .imagen1exterior{
        width: 300px;
        height: 300px;
        margin-left: 10px;
    }
    .imagen1interior__texto{
        margin-top: 30px;
    }
    .modelo__parrafo{
        font-size: 22px;
        text-align: center;
        margin: auto;
        width: 640px;
        padding: 16px;
        text-shadow: 2px 2px 4px black;
    }
    .nav__modelo{
        list-style: none;
        display: flex;
        flex-direction:row;
        align-items: center;
        margin-left: 100px;
    }
    .footermodelo{
        width: 640px;
        }
}
@media screen and (max-width: 393px){
    .linkGaleria{
        display: grid;
        grid-template-columns: 710px;
        margin-left: 230px;
    }
    .footermodelo{
        border-top:double #003;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'menu contacto'
        'ubicacion siguenos';
        align-items: center;
        text-align: center;
        padding: 15px;
    }
    .fooMenu{
        grid-area:menu;
    }
    .fooUbicacion{
        grid-area:ubicacion;
        align-items: center;
    }
    .fooContacto{
        grid-area:contacto;
    }
    .fooSiguenos{
        grid-area:siguenos;
    }
}
@media screen and (max-width: 375px){
    .nav__modelo{
        margin-left: 160px;
    }
    .linkGaleria{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footermodelo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
    }
}
@media screen and (max-width: 320px){
    .linkGaleria{
        display: grid;
        grid-template-columns: 710px;
        margin-left: 320px;
    }

    .footermodelo{
        border-top:double #003;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'menu contacto'
        'ubicacion siguenos';
        align-items: center;
        text-align: center;
        padding: 15px;
    }
    .fooMenu{
        grid-area:menu;
    }
    .fooUbicacion{
        grid-area:ubicacion;
        align-items: center;
    }
    .fooContacto{
        grid-area:contacto;
    }
    .fooSiguenos{
        grid-area:siguenos;
    }
}}