.titulos{
    @extend .tipografia;
    font-size: 30px;
    text-align: center;
    padding: 16px;
    text-shadow: 1px 1px 10px black;
}

.divimagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen1interior{
    width: 100%;
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos, box-shadow );
}
.row__align{
    align-items: center;
    @include margin(1rem, 0px);
}

.imagen1interior__texto{
    @extend .tipografia; /* esta en general.scss */
    font-size: map-get($estilos , fontsize-20 );
    text-shadow: 5px 5px 15px black;

    text-align: center;
    @include margin(15%, 0px);

}

.imagen2interior{
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos, box-shadow );
}
.imagen1exterior{
    width: 40%;
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos, box-shadow );

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 80px;
}
.imagen2exterior{
    width: 100%;
    border-radius: map-get($estilos , border-radius );
    box-shadow: map-get($estilos, box-shadow );
}
.imagen2interior__texto{
    @extend .tipografia; /* esta en general.scss */
    font-size: 20px;
    text-shadow: 5px 5px 15px black;
    

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    @include margin(100, 50px);

}

.imagenesinterior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.imagenesinterior__extras{
    border-radius: 15%;
    box-shadow: map-get($estilos, box-shadow );
    max-width: 80%;
}

.linkGaleria{
    display: flex;
    align-items: center;
    justify-content: center;
    @include margin(20px, 0px);
}
.linkGaleria__vermas{
    @extend .tipografia; /* esta en general.scss */
    font-size: 18px;
    width: 180px;
    height: 25px;
    border: none;

    background-color: rgb(5, 117, 80);
    border-radius: $border-radiusvermas;
    transition: ease-out 0.3s;
    outline: none;
}

.linkGaleria__vermas:hover{
    box-shadow: inset 200px 0 0 0 rgb(5, 151, 219);
    cursor: pointer;
    color: black;
    
}

.imagenesExterior__texto{ 
    @extend .tipografia; /* esta en general.scss */
    font-size: 20px;
    text-shadow: 5px 5px 15px black;
    width: 100%;
    text-align: center;
}