$border-radiusvermas: 20px;
$colorTexto:white;

$estilos:(
    fontsize-20:20px,
    box-shadow: 5px 5px 5px black,
    border-radius:10%,
);
@mixin margin($margin-top, $margin-right) {
    margin-top: $margin-top;
    margin-right: $margin-right;
}